.DS_Store
node_modules
/dist
tsconfig.tsbuildinfo

# local env files
.env.local
.env.*.local
.env.production
.env.*.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*~
\#*\#

#  Test files
/cypress/videos
/cypress/downloads

# vite-ssg
.vite-ssg-dist
.vite-ssg-temp
dist-ssr
vite.config.ts.timestamp*