:root {
  --text-mute: #9699AF;
  --text-mute-darker: #575f6d;
}

@import "~vue-material/dist/theme/engine"; // Import the theme engine
@include md-register-theme("default", (
  primary: md-get-palette-color(bluegrey, 100), // The primary color of your application
  accent: md-get-palette-color(lightblue, 800), // The accent or secondary color
  theme: light
));

@include md-register-theme("grey-card", (
  primary: md-get-palette-color(grey, 50)
));


@import "~vue-material/dist/theme/all"; // Apply the theme
@import '~@fortawesome/fontawesome-free/css/all.min.css';

html {
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
}

section {
  padding: 4rem 0;
}

.md-theme-default a:not(.md-button) {
  color: var(--md-theme-default-accent);
  // font-weight: 500;

  &:hover {
    color: rgba(0, 0, 0, 0.87);
  }
}

.content,
#main-content {
  max-width: 1280px;
  width: 100%;
  min-height: initial;
}

#main-content {
  // padding: 2vw;
  min-height: 85vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.has-text-mute {
  color: var(--text-mute) !important;
}

.has-text-mute-darker {
  color: var(--text-mute-darker) !important;
}

.has-text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0 ,0 , 0.65);
}

.has-text-centered {
  text-align: center;
}

.has-text-white {
  color: #FFF !important;
}

hr {
  background-color: whitesmoke;
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
}

// .has-background-dark--gradient {
//   background: linear-gradient(180deg, #0D0F15 0%, #1A1D27 100%);
// }

.is-clickable {
  cursor: pointer;
  transition: color 0.15s ease;

  &:hover {
    color: var(--md-default-accent) !important;
  }
}

.is-marginless {
  margin: 0;
}

.is-flipped-x {
  transform: scaleX(-1);
}

.has-space-bottom {
  margin-bottom: 1.5rem !important;
}

.has-space-bottom-2x {
  margin-bottom: 3rem !important;
}

.has-space-top {
  margin-top: 1.5rem !important;
}

.has-space-top-2x {
  margin-top: 3rem !important;
}

.has-space-right {
  margin-right: 1.5rem;
}

.has-space-left {
  margin-left: 1.5rem;
}

.is-grid {
  display: grid;
}

.spacer {
  flex: 1 1 auto;
}

.md-button:not(.md-icon-button) {
  margin: 0;
  padding: 0 0.75rem;
}

.md-button:not(.md-fab) {
  border-radius: 2rem;
}

.md-button[disabled] {
  opacity: 0.5;
}

.md-field {
  // display: block;
  flex-wrap: wrap;

  &::after, &::before {
    content: none;
  }

  label {
    top: -6px !important;
    font-size: 16px !important;
    color: inherit !important;
    left: 0 !important;
    pointer-events: unset !important;
    cursor: unset !important;
  }

  .md-input, .md-textarea {
    border: 1px solid var(--text-mute);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    width: 100%;
  }

  & > .md-helper-text {
    position: static;
    flex-basis: 100%;
    flex-shrink: 0;
    height: unset;
  }

  &.md-datepicker {
    max-width: 40rem;
    flex-wrap: wrap;

    & > input {
      margin-left: 0 !important;
      padding-left: 4rem;
    }

    & > i.md-date-icon {
      position: absolute;
      left: 4px;
      overflow: hidden;
    }
  }

  &.md-chips {
    padding-top: 16px;

    & > input {
      flex-basis: 100%;
      flex-shrink: 0;
    }
  }

  &.md-required label:after {
    content: "(required)";
    color: red;
    font-size: 11px;
    margin-left: 4px;
    vertical-align: middle;
    
    transform: none;
    position: unset;
    top: unset;
    right: unset;
    line-height: 1em;
  }
}